@{
    ViewData["Title"] = "About";
    ViewData["Email"] = "claudio@salesweb.com";
}

<div class="text-center">
    <h1 class="display-4">Sales Web System - C# Course</h1>
    <p>@ViewData["Email"]</p>
</div>
